{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="login-container">
		<a href="{{ path('app_public') }}">
			<div class="login-logo">
				<img src="{{ asset('images/logowemeet2.png')}}" alt="logo">
			</div>
		</a>
		<h1 class="login-title">Connexion à mon compte</h1>

		<form method="post">
			{% if error %}
				<div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="alert">
					Tu es déjà connecté en tant que
					{{ app.user.userIdentifier }}.
					<a href="{{ path('app_logout') }}">Déconnexion</a>
				</div>
			{% endif %}

			<div class="form-group">
				<label for="inputEmail" class="form-label">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			</div>

			<div class="form-group">
				<label for="inputPassword" class="form-label">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<div class="form-check">
				<input type="checkbox" id="_remember_me" name="_remember_me" class="form-check-input">
				<label for="_remember_me" class="form-check-label">Se souvenir de moi</label>
			</div>

			<button class="btn" type="submit">
				Me connecter
			</button>
		</form>

		<p class="register-link">Tu n'as pas encore de compte ?
			<a href="{{ path('app_register') }}">Clique ici !</a>
		</p>
	</div>
{% endblock %}
